<%= render 'layouts/navbar' %>
<!-- TODO description of myself and skills so far. -->

<header class="music-heading">
  <div class="intro-body">
    <div class="container">
      <div class="row">
        <div class="col-lg-8 mx-auto">
          <h2>My Music</h2>
          <p class="intro-text">
            Music has always been a large part of my life. Much like programming, music is a craft that you endlessly practise, improve and refine. There is always something new to master and
            it is always fun. From an early age, I found practising the piano was a way to unwind and escape for while.
          </p>
          <p class="intro-text">
            Scroll down for a peek at some of my music projects to date.
          </p>
        </div>
      </div>
      <a href="#my-music-projects" class="arrow js-scroll-trigger">
        <i class="fa fa-arrow-circle-o-down animated fa-4x"></i>
      </a>
    </div>
  </div>
</header>

<section class="content-section">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2 id="my-music-projects">My Projects</h2>
      </div>
      <div class="col-sm-6 col-md-4">
        <div class="thumbnail">
          <!-- 16:9 aspect ratio -->
          <div class="embed-responsive embed-responsive-16by9">
            <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/fIoKG9-ZnJw" allow="autoplay; encrypted-media" allowfullscreen></iframe>
          </div>
          <div class="caption">
            <h3>Bach's Prelude in C</h3>
            <p>One of Bach's well known and easily accessible preludes has made this piece a must learn for piano students. In addition to this, this piece is a popular choice for wedding ceremonies.</p>
            <p>Using <%= link_to 'Ableton', 'https://en.wikipedia.org/wiki/Ableton_Live', target: '_blank' %>, <%= link_to 'OBS', 'https://en.wikipedia.org/wiki/Open_Broadcaster_Software', target: '_blank' %> and <%= link_to 'Synthesia', 'https://en.wikipedia.org/wiki/Synthesia', target: '_blank' %> I recorded my performance and put together a visual tutorial as to how it is played so the viewer can learn to play it for themselves. Have a little watch yourself.</p>
            <p>This video belongs to a separate YouTube channel of mine which is solely for Synthesia tutorials like this. To view more of my Synthesia videos on YouTube, click on the button below</p>
            <%= link_to 'View on YouTube', 'https://www.youtube.com/watch?v=fIoKG9-ZnJw&list=UUJCLykUyNiUHtK-2T6wjkow', target: '_blank', class: 'btn btn-default' %>
          </div>
        </div>
      </div>

      <div class="col-sm-6 col-md-4">
        <div class="thumbnail">
          <!-- 16:9 aspect ratio -->
          <div class="embed-responsive embed-responsive-16by9">
            <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/ql5sYzq7xds" allow="autoplay; encrypted-media" allowfullscreen></iframe>
          </div>
          <div class="caption">
            <h3>Where Is My Mind?</h3>
            <p>Originally written by The Pixies, this version is a cover of a cover by the pianist Maxence Cyrin. I first heard this piece in the TV show 'Mr. Robot' and I had to learn it straight away. Have a little watch if you like.</p>
            <p>This video belongs to a separate YouTube channel of mine which is solely for piano solo videos. To view more of my piano solo videos on YouTube, click on the button below</p>
            <%= link_to 'View on YouTube', 'https://www.youtube.com/watch?v=ql5sYzq7xds&list=UUAiArHrQ_ypBh5ygHZWkyUA', target: '_blank', class: 'btn btn-default' %>
          </div>
        </div>
      </div>

      <div class="col-sm-6 col-md-4">
        <div class="thumbnail">
          <!-- 16:9 aspect ratio -->
          <div class="embed-responsive embed-responsive-16by9">
            <iframe class="embed-responsive-item" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/146506412&amp;color=%23ff5500&amp;auto_play=false&amp;hide_related=false&amp;show_comments=true&amp;show_user=true&amp;show_reposts=false&amp;show_teaser=true&amp;visual=true" allow="autoplay; encrypted-media" allowfullscreen></iframe>
          </div>
          <div class="caption">
            <h3>Comptine D'un Autre Été</h3>
            <p>Originally written by Yann Tiersen for the film Amélie (2001), Comptine D'un Autre Été remains to this day, an extremely popular piece. It's minimalist style has made this piece a popular choice to learn on the piano and a pleasant one to listen to. My soundcloud track alone has over a <strong>quarter of a million listens.</strong></p>
            <p>I have also created a synthesia version of this piece. Visit my Synthesia channel on YouTube to watch it. To listen to more of my piano solo tracks on Soundcloud, click on the button below.</p>
            <%= link_to 'Listen on Soundcloud', 'https://soundcloud.com/yamadaj2', target: '_blank', class: 'btn btn-default' %>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<div class="container text-center">
  <%= link_to 'Back', root_path, class: "btn btn-default btn-lg" %>
</div>

<%= render 'layouts/footer' %>