<%= render 'layouts/navbar'%>
<!-- Intro Header -->
<header class="masthead">
  <div class="intro-body">
    <div class="container">
      <div class="row">
        <div class="col-lg-6 mx-auto">
          <h1 class="brand-heading">Jonathon Yamada</h1>
        </div>
      </div>
      <div class="intro-text col-lg-6 mx-auto" id="subheading-content"></div>
      <div>
        <%= link_to '', '#about', class: 'arrow js-scroll-trigger fa fa-arrow-circle-o-down animated fa-4x' %>
      </div>
    </div>
  </div>
</header>

<!-- About Section -->
<section id="about" class="content-section text-center">
  <div class="container">
    <div class="row">
      <div class="col-lg-8 mx-auto">
        <h2>About Me</h2>
        <p>Hi I'm Jonathon ( but you can call me Johnny ). I am a Web Developer based in Dublin.</p>
        <p>I have a higher diploma in <em>Software Development</em>, graduating in 2017 awarded by Dublin Business School.
          I also have a degree in Analytical Science, graduating in 2014 from Dublin City University.</p>
        <p>
          I love web development, photography and making music!
        </p>
        <div>
          <%= link_to '', '#development', class: 'arrow js-scroll-trigger fa fa-arrow-circle-o-down animated fa-4x' %>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- Web Dev Section -->
<section id="development" class="hobby-section content-section text-center web-dev-background">
  <div class="container">
    <div class="col-lg-4 mx-auto transparent-dark-container">
      <h2>Web Development</h2>
      <p>I like <span class="ruby-color">Ruby</span> and <span class="javascript-color">JavaScript.</span></p>
      <%= link_to 'Tell me more', development_path, class: "btn btn-default btn-lg" %>
    </div>
  </div>
  <div>
    <%= link_to '', '#music', class: 'arrow js-scroll-trigger fa fa-arrow-circle-o-down animated fa-4x' %>
  </div>
</section>

<!-- Music Section -->
<section id="music" class="hobby-section content-section text-center music-background">
  <div class="container">
    <div class="col-lg-4 mx-auto transparent-dark-container">
      <h2>Music</h2>
      <p>I like playing the piano.</p>
      <%= link_to 'Tell me more', music_path, class: "btn btn-default btn-lg" %>
    </div>
  </div>
  <div>
    <%= link_to '', '#photography', class: 'arrow js-scroll-trigger fa fa-arrow-circle-o-down animated fa-4x' %>
  </div>
</section>

<!-- Photography Section -->
<section id="photography" class="hobby-section content-section text-center photography-background">
  <div class="container">
    <div class="col-lg-4 mx-auto transparent-dark-container">
      <h2>Photography</h2>
      <p>I like taking photos</p>
      <%= link_to 'Show Me More', photography_path, class: "btn btn-default btn-lg" %>
    </div>
    <div>
      <%= link_to '', '#contact', class: 'arrow js-scroll-trigger fa fa-arrow-circle-o-down animated fa-4x' %>
    </div>
  </div>
</section>

<%= render 'layouts/footer' %>