<!-- Intro Header -->
<header class="masthead">
  <div class="intro-body">
    <div class="container">
      <div class="row">
        <div class="col-lg-6 mx-auto">
          <%= render 'layouts/flash' %>
          <h1 class="brand-heading">Jonathon Yamada</h1>
        </div>
      </div>
      <div class="intro-text col-lg-6 mx-auto" id="subheading-content"></div>
      <div>
        <%= link_to '', '#about', class: 'arrow js-scroll-trigger fa fa-arrow-circle-o-down animated fa-4x' %>
      </div>
    </div>
  </div>
</header>

<!-- About Section -->
<section id="about" class="content-section text-center">
  <div class="container">
    <div class="row">
      <div class="col-lg-8 mx-auto">
        <h2>About Me</h2>
        <% if Paragraph.last.present? %>
          <p><%= Paragraph.last.text %></p>
        <% else %>
          <%= render 'paragraphs/defaults/default_about_paragraph' %>
        <% end %>
        <% if user_myself %>
          <% if Paragraph.last.present? %>
            <div class="btn btn-admin">
              <%= link_to ' Update Paragraph ', edit_paragraph_path(Paragraph.last) %>
            </div>
            <div class="btn btn-admin">
              <%= link_to ' Delete Paragraph ',
                          paragraph_path(Paragraph.last),
                          method: :delete,
                          class: 'fa fa-trash',
                          data: {confirm: 'Are you sure you want to delete this paragraph?'} %>
            </div>
          <% else %>
            <div id="paragraph-textbox">
              <%= render 'layouts/paragraph_new_form' %>
            </div>
            <span class="btn btn-admin" id="new-paragraph">
              New Paragraph
            </span>
          <% end %>
        <% end %>
        <div>
          <%= link_to '', '#development', class: 'arrow js-scroll-trigger fa fa-arrow-circle-o-down animated fa-4x' %>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- Web Dev Section -->
<section id="development" class="hobby-section content-section text-center web-dev-background">
  <div class="container">
    <div class="col-lg-4 mx-auto transparent-dark-container">
      <h2>Web Development</h2>
      <p>I like <span class="ruby-color">Ruby</span> and <span class="javascript-color">JavaScript.</span></p>
      <%= link_to 'Tell me more', development_path, class: "btn btn-default btn-lg" %>
    </div>
  </div>
  <div>
    <%= link_to '', '#music', class: 'arrow js-scroll-trigger fa fa-arrow-circle-o-down animated fa-4x' %>
  </div>
</section>

<!-- Music Section -->
<section id="music" class="hobby-section content-section text-center music-background">
  <div class="container">
    <div class="col-lg-4 mx-auto transparent-dark-container">
      <h2>Music</h2>
      <p>I like playing the piano.</p>
      <%= link_to 'Tell me more', music_path, class: "btn btn-default btn-lg" %>
    </div>
  </div>
  <div>
    <%= link_to '', '#photography', class: 'arrow js-scroll-trigger fa fa-arrow-circle-o-down animated fa-4x' %>
  </div>
</section>

<!-- Photography Section -->
<section id="photography" class="hobby-section content-section text-center photography-background">
  <div class="container">
    <div class="col-lg-4 mx-auto transparent-dark-container">
      <h2>Photography</h2>
      <p>I like taking photos</p>
      <%= link_to 'Show Me More', photography_path, class: "btn btn-default btn-lg" %>
    </div>
    <div>
      <%= link_to '', '#contact', class: 'arrow js-scroll-trigger fa fa-arrow-circle-o-down animated fa-4x' %>
    </div>
  </div>
</section>

