<%= render 'layouts/navbar' %>
<!--TODO description of myself and skills so far.
 <!--TODO software image-->
<section class="content-section hobby-intro">
  <div class="container">
    <h2 class="text-center">Web Development Projects</h2>
    <p>Lorenm IpsumLorenm IpsumLorenm Ipsum Lorenm IpsumLorenm IpsumLorenm IpsumLorenm Ipsum
      Lorenm IpsumLorenm IpsumLorenm IpsumLorenm IpsumLorenm IpsumLorenm IpsumLorenm Ipsum
      Lorenm IpsumLorenm IpsumLorenm IpsumLorenm IpsumLorenm IpsumLorenm IpsumLorenm IpsumLorenm Ipsum
      Lorenm IpsumLorenm IpsumLorenm IpsumLorenm IpsumLorenm IpsumLorenm IpsumLorenm Ipsum
    </p>
  </div>
</section>

<section class="content-section">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2>My Projects</h2>
      </div>
    </div>

    <div class="row">
      <div class="card col-lg-3">
        <%= image_tag 'camera.JPG', alt: 'card image', class: 'card-img-top' %>
        <div class="card-body">
          <h5 class="card-title">Object Orientated Game</h5>
          <p class="card-text">
            A simple Object Orientated, turn based Game, used as an exercise to become more fluent with many Object Orientated Concepts.
          </p>
          <ul class="list-group list-group-flush">
            <li class="list-group-item">Written in <span class="ruby-color">Ruby</span></li>
            <li class="list-group-item">
              <%= link_to 'View on GitHub', 'https://github.com/yamadaj2/object_orientated_game', target: '_blank', class: 'btn btn-primary' %></li>
          </ul>
        </div>
      </div>

      <div class="card col-lg-3">
        <%= image_tag 'pencil.jpg', alt: 'card image', class: 'card-img-top' %>
        <div class="card-body">
          <h5 class="card-title">Blog</h5>
          <p class="card-text">
            This is an example app demonstrating CRUD functionality.
          </p>
          <p class="card-text">
            The app has sign up feature and allows authorised users to create, read and update posts and comments.
            It is styled using Bootstrap
          </p>
          <ul class="list-group list-group-flush">
            <li class="list-group-item">Written with <span class="ruby-color">Ruby on Rails</span></li>
            <li class="list-group-item">
              <%= link_to 'View on GitHub', 'https://github.com/yamadaj2/alpha-blog', target: '_blank', class: 'btn btn-primary' %>
            </li>
          </ul>
        </div>
      </div>

      <div class="card col-lg-3">
        <%= image_tag 'camera.JPG', alt: 'card image', class: 'card-img-top' %>
        <div class="card-body">
          <h5 class="card-title">Open Source Project</h5>
          <p class="card-text">
            This is a simple Object Orientated Game written in <span class="ruby-color">Ruby</span> used as an exercise to become more fluent with many Object Orientated Concepts.
          </p>
          <%= link_to 'View on GitHub', 'https://github.com/yamadaj2/object_orientated_game', target: '_blank', class: 'btn btn-primary' %>
        </div>
      </div>
    </div>
  </div>
</section>

<div class="container text-center">
  <%= link_to 'Back', root_path, class: "btn btn-default btn-lg" %>
</div>

<%= render 'layouts/footer' %>