<%= render 'layouts/navbar' %>
<!--TODO description of myself and skills so far. -->

<header class="web-dev-heading">
  <div class="intro-body">
    <div class="container">
      <div class="row">
        <div class="col-lg-8 mx-auto">
          <h2>Web Development Projects</h2>
          <p class="intro-text">
            I have experience building <span class="ruby-color">Ruby on Rails</span> projects and I contribute to various open source projects. Check out some of my projects below.
          </p>
        </div>
      </div>
        <a href="#my-projects" class="arrow js-scroll-trigger">
          <i class="fa fa-arrow-circle-o-down animated fa-4x"></i>
        </a>
    </div>
  </div>
</header>

<section class="content-section">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2 id="my-projects">My Projects</h2>
      </div>
    </div>

    <div class="row">
      <div class="card col-lg-3">
        <%= image_tag 'samurai_and_ninja.jpg', alt: 'card image', class: 'card-img-top' %>
        <div class="card-body">
          <h5 class="card-title">Ninja vs. Samurai</h5>
          <p class="card-text">
            An object orientated, RPG console application, used as an exercise to become more fluent with many OOP Concepts. It is tested using MiniTest and Test::Unit
          </p>
          <ul class="list-group list-group-flush">
            <li class="list-group-item">Written in <span class="ruby-color">Ruby</span></li>
            <li class="list-group-item">
              <%= link_to 'View on GitHub', 'https://github.com/yamadaj2/object_orientated_game', target: '_blank', class: 'btn btn-default' %></li>
          </ul>
        </div>
      </div>

      <div class="card col-lg-3">
        <%= image_tag 'pencil.jpg', alt: 'card image', class: 'card-img-top' %>
        <div class="card-body">
          <h5 class="card-title">Alpha Blog</h5>
          <p class="card-text">
            This is a demo app demonstrating CRUD functionality.
            The app has sign up feature and allows authorised users to create, read and update posts and comments.
          </p>
          <ul class="list-group list-group-flush">
            <li class="list-group-item">Written with <span class="ruby-color">Ruby on Rails</span></li>
            <li class="list-group-item">
              <%= link_to 'View on GitHub', 'https://github.com/yamadaj2/alpha-blog', target: '_blank', class: 'btn btn-default' %>
            </li>
          </ul>
        </div>
      </div>

      <div class="card col-lg-3">
        <%= image_tag 'site-header.png', alt: 'card image', class: 'card-img-top' %>
        <div class="card-body">
          <h5 class="card-title">My Personal Site</h5>
          <p class="card-text">
            This site you are currently viewing is a <span class="ruby-color">Ruby on Rails</span> application.
          </p>
          <ul class="list-group list-group-flush">
            <li class="list-group-item">
              <%= link_to 'View on GitHub', 'https://github.com/yamadaj2/alpha-blog', target: '_blank', class: 'btn btn-default' %>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</section>

<div class="container text-center">
  <%= link_to 'Back', root_path, class: "btn btn-default btn-lg" %>
</div>

<%= render 'layouts/footer' %>