<%= render 'layouts/navbar' %>
<!-- TODO description of myself and skills so far. -->

<header class="photography-heading">
  <div class="intro-body">
    <div class="container">
      <div class="row">
        <div class="col-lg-8 mx-auto">
          <h2>My Photography</h2>
          <p class="intro-text">
           I am a photography enthusiast. Photography is a relatively new hobby of mine. I love taking shots at night in urban areas.
          </p>
          <p class="intro-text">
            Scroll down for a peek at some of my photos to date.
          </p>
        </div>
      </div>
      <a href="#my-photo-projects" class="arrow js-scroll-trigger">
        <i class="fa fa-arrow-circle-o-down animated fa-4x"></i>
      </a>
    </div>
  </div>
</header>

<section class="content-section">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2 id="my-photo-projects">My Photos</h2>
      </div>
      <div class="col-sm-12 col-md-12">
          <%= image_tag 'sea-moon.JPG', alt: "moonlit sea", class: 'img-thumbnail' %>
      </div>
      <div class="col-sm-6 col-md-6">
          <%= image_tag 'archway.JPG', alt: "view down an archway", class: 'img-thumbnail' %>
      </div>
      <div class="col-sm-6 col-md-6">
          <%= image_tag 'car-lights.JPG', alt: " streaks of car lights on road", class: 'img-thumbnail' %>
          <%= image_tag 'piano.JPG', alt: "side view of piano keys", class: 'img-thumbnail' %>
      </div>
      <div class="col-sm-6 col-md-6">
          <%= image_tag 'spire.JPG', alt: "streaks of vehicle lights in city", class: 'img-thumbnail' %>
      </div>
      <div class="col-sm-6 col-md-6">
        <%= image_tag 'train-tracks.JPG', alt: "ground shot looking down train tracks", class: 'img-thumbnail' %>
      </div>
    </div>
  </div>
  <div class="container text-center">
    <%= link_to 'View on EyeEm', 'https://www.eyeem.com/u/johnnyyamada', target: '_blank', class: 'btn btn-default btn-large' %>
  </div>
</section>
<!--todo add pagination-->
<div class="container text-center">
  <%= link_to 'Back', root_path, class: "btn btn-default" %>
</div>

<%= render 'layouts/footer' %>