<%= render 'layouts/navbar' %>
<!-- TODO description of myself and skills so far. -->

<header class="photography-heading">
  <div class="intro-body">
    <div class="container">
      <div class="row">
        <div class="col-lg-8 mx-auto">
          <h2>My Photography</h2>
          <p class="intro-text">
           I am a photography enthusiast.
          </p>
          <p class="intro-text">
            Scroll down for a peek at some of my photos to date.
          </p>
        </div>
      </div>
      <a href="#my-photo-projects" class="arrow js-scroll-trigger">
        <i class="fa fa-arrow-circle-o-down animated fa-4x"></i>
      </a>
    </div>
  </div>
</header>

<section class="content-section">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2 id="my-photo-projects">My Photos</h2>
      </div>
      <div class="col-sm-6 col-md-12">
          <%= image_tag 'archway.JPG', alt: "", class: 'img-thumbnail' %>
      </div>
      <div class="col-sm-6 col-md-12">
          <%= image_tag 'sea-moon.JPG', alt: "", class: 'img-thumbnail' %>
      </div>
      <div class="col-sm-6 col-md-12">
          <%= image_tag 'car-lights.JPG', alt: "", class: 'img-thumbnail' %>
      </div>
      <div class="col-sm-6 col-md-12">
          <%= image_tag 'piano.JPG', alt: "", class: 'img-thumbnail' %>
      </div>
      <div class="col-sm-6 col-md-12">
          <%= image_tag 'spire.JPG', alt: "", class: 'img-thumbnail' %>
      </div>
      <div class="col-sm-6 col-md-12">
          <%= image_tag 'train-tracks.JPG', alt: "", class: 'img-thumbnail' %>
      </div>
      <div>
        <%= link_to 'View on EyeEm', 'https://www.youtube.com/watch?v=fIoKG9-ZnJw&list=UUJCLykUyNiUHtK-2T6wjkow', target: '_blank', class: 'btn btn-default' %>
      </div>
    </div>
  </div>
</section>

<div class="container text-center">
  <%= link_to 'Back', root_path, class: "btn btn-default btn-lg" %>
</div>

<%= render 'layouts/footer' %>