<%= render 'layouts/navbar' %>
<!--TODO Only load photos that user is currently viewing for better load times-->

<header class="photography-heading">
  <div class="intro-body">
    <div class="container">
      <div class="row">
        <div class="col-lg-8 mx-auto">
          <h2>My Photography</h2>
          <p class="intro-text">
            I am a photography enthusiast and enjoy creating photos that tell a story. I love taking shots of urban areas at night, various landscapes, people and using long exposure for interesting effects.
          </p>
          <p class="intro-text">
            Scroll down for a peek at some of my photos to date.
          </p>
        </div>
      </div>
      <a href="#my-photo-projects" class="arrow js-scroll-trigger">
        <i class="fa fa-arrow-circle-o-down animated fa-4x"></i>
      </a>
    </div>
  </div>
</header>

<section class="content-section">
  <div class="gallery container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2 id="my-photo-projects">My Photos</h2>
      </div>
      <div class="col-sm-12 col-md-12 photo-div">
        <%= image_tag 'sky-blue-sea.jpg', alt: "boat sailing on blue sea", class: 'photo-div' %>
      </div>
      <div class="col-sm-6 col-md-6 photo-div">
        <%= image_tag 'archway.JPG', alt: "view down an archway", class: 'photo-div' %>
        <%= image_tag 'dolls.JPG', alt: "side view of a doll with blonde hair", class: 'photo-div' %>
        <%= image_tag 'spire.JPG', alt: "streaks of vehicle lights in city", class: 'photo-div' %>
        <%= image_tag 'disc-jockey.JPG', alt: "DJ using electronic equipment with stage fog", class: 'photo-div' %>
        <%= image_tag 'stag.JPG', alt: "Head shot of stag Grazing", class: 'photo-div' %>
        <%= image_tag 'love-eat-sign.JPG', alt: "Bright light signs that says eat,love,live", class: 'photo-div' %>
        <%= image_tag 'shells.jpg', alt: "Close up of shells and sandy on beach", class: 'photo-div' %>
      </div>
      <div class="col-sm-6 col-md-6 photo-div">
        <%= image_tag 'piano.JPG', alt: "side view of piano keys", class: 'photo-div' %>
        <%= image_tag 'sea-moon.JPG', alt: "moonlit sea", class: 'photo-div' %>
        <%= image_tag 'car-lights.JPG', alt: "streaks of car lights on road", class: 'photo-div' %>
        <%= image_tag 'train-tracks.JPG', alt: "ground shot looking down train tracks", class: 'photo-div' %>
        <%= image_tag 'basilica.JPG', alt: "Night shot of basilica", class: 'photo-div' %>
        <%= image_tag 'flowers.JPG', alt: "Close up of a red and white flower against a blurred backdrop", class: 'photo-div' %>
        <%= image_tag 'wedding-music.JPG', alt: "bottom up view of wedding sheet music", class: 'photo-div' %>
      </div>
    </div>
  </div>
</section>
<!--todo add pagination-->
<div class="container text-center">
  <%= link_to 'Back', root_path, class: "btn btn-default" %>
</div>

<%= render 'layouts/footer' %>