<section class="content-section">
  <div class="container col-lg-3">
    <div class="row">
      <h3 class="mx-auto">Edit Paragraph</h3>
      <% if @paragraph.errors.any? %>
        <% @paragraph.errors.each do |attr, err_msg| %>
        <ul>
          <li><%= attr %> <%= err_msg %></li>
        </ul>
        <% end %>
      <% end %>
    </div>
    <%= form_for :paragraph, url: paragraph_path(@paragraph), method: :patch do |f| %>
      <div class="row mb-3">
        <div class="input-group">
          <%= f.text_area :text, size: '40x10', autofocus: true %>
        </div>
      </div>
      <div class="row mb-3">
        <%= f.submit 'Update Paragraph', class: 'btn btn-admin form-control' %>
      </div>
    <% end %>
  </div>
</section>