<footer id="contact" class="text-center">
  <div class="container">
    <h2>Contact Jonathon</h2>
    <div class="row">
      <div class="col-sm-12 mx-auto">
        <ul class="list-inline banner-social-buttons">
          <li class="list-inline-item social-icon">
            <%= link_to '', 'mailto:jonathon.yamada@gmail.com', target: '_blank', class: 'fa fa-envelope-o fa-4x footer-icons', aria: {hidden: true} %>
          </li>
          <li class="list-inline-item social-icon">
            <%= link_to '', 'https://github.com/yamadaj2', target: '_blank', class: 'fa fa-github fa-4x footer-icons', aria: {hidden: true} %>
          </li>
          <li class="list-inline-item social-icon">
            <%= link_to '', 'https://www.linkedin.com/in/jonathon-yamada-8851025b/', target: '_blank', class: 'fa fa-linkedin-square fa-4x footer-icons', aria: {hidden: true} %>
          </li>
          <li class="list-inline-item social-icon">
            <%= link_to '', 'https://www.youtube.com/channel/UCAiArHrQ_ypBh5ygHZWkyUA/videos?view_as=subscriber', target: '_blank', class: 'fa fa-youtube fa-4x footer-icons', aria: {hidden: true} %>
          </li>
          <li class="list-inline-item social-icon">
            <%= link_to '', 'https://soundcloud.com/yamadaj2', target: '_blank', class: 'fa fa-soundcloud fa-4x footer-icons', aria: {hidden: true} %>
          </li>
          <li class="list-inline-item social-icon">
            <%= link_to '', 'https://www.instagram.com/j_yams/', target: '_blank', class: 'fa fa-instagram fa-4x footer-icons', aria: {hidden: true} %>
          </li>
        </ul>
      </div>
    </div>
  </div>

  <div class="container text-center">
    <p>Copyright &copy; Jonathon Yamada <%= Time.now.year %></p>
  </div>
</footer>