<footer id="contact" class="content-section text-center">
  <div class="container">
    <div class="row">
      <div class="col-lg-8 mx-auto">
        <h2>Contact Jonathon</h2>
        <p>Feel free to leave us a comment on the
          <a href="http://startbootstrap.com/template-overviews/grayscale/">Grayscale template overview page</a>
          on Start Bootstrap to give some feedback about this theme!</p>
        <ul class="list-inline banner-social-buttons">
          <li class="list-inline-item">
              <%= link_to '', 'https://www.youtube.com/channel/UCAiArHrQ_ypBh5ygHZWkyUA/videos?view_as=subscriber', target: '_blank', class: 'fa fa-youtube fa-4x', aria: {hidden: true} %>
          </li>
          <li class="list-inline-item">
              <%= link_to '', 'https://github.com/yamadaj2', target: '_blank', class: 'fa fa-github fa-2x', aria: {hidden: true} %>
          </li>
          <li class="list-inline-item">
              <%= link_to '', 'https://soundcloud.com/yamadaj2', target: '_blank', class: 'fa fa-soundcloud fa-2x', aria: {hidden: true} %>
          </li>
          <li class="list-inline-item">
              <%= link_to '', 'https://www.linkedin.com/in/jonathon-yamada-8851025b/', target: '_blank', class: 'fa fa-linkedin-square fa-2x', aria: {hidden: true} %>
          </li>
          <li class="list-inline-item">
              <%= link_to '', 'https://www.facebook.com/johnny.yamada', target: '_blank', class: 'fa fa-facebook-official fa-2x', aria: {hidden: true} %>
          </li>
        </ul>
      </div>
    </div>
    <div>
      <a href="#page-top" class="arrow js-scroll-trigger">
        <i class="fa fa-arrow-circle-o-up animated fa-4x"></i>
      </a>
    </div>
  </div>

  <div class="container text-center">
    <p>Copyright &copy; Jonathon Yamada 2018</p>
  </div>
</footer>